.settingsPg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f4f5fe;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    // padding-right: 2rem;
  }
}

.settingsPg-viewer {
  // border: 2px solid black;
  width: 70%;
  height: 90vh;
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  @media screen and (max-width: 750px) {
    width: 100%;
    height: 100vh;
  }
}
